.avatarandform{
    width: 70%;
    /*background-color: yellowgreen;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.submit-button{
    max-width: fit-content;
    display: block;
    margin: 0 auto;
    background-color: chartreuse !important;
    float: right;
}

label{
    color: white !important;
    font-size: large !important;
    margin-right: 20px;
}
