@import "homeView.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
html,body{
    height:100%;
}
#app{
    background-image: url("../images/retaz.png");
    height: 100%;
}
button{
    background-color: red !important;
    border: none !important;
    color: black !important;
}
.text-white{
    color: white;
}

.el-calendar__button-group .el-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.el-calendar__button-group .el-button-group .el-button {
    color: black !important;
}

button.el-button--small {
    padding: 15px;
    border-radius: 5px;
}
